@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

html, body {
    height: 100%; 
}

body {
    background-color: #ddd; 
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template: minmax(70px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 3%;
    margin: 0 auto;
}

.header {
    grid-area: header;
    background-color: #fff;
}
.header__title {
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    font-weight: 700;
}
.main {
    height: 100%;
    padding: 50px 0;
    grid-area: main;
}
.footer {
    grid-area: footer;
    background-color: #fff;
    padding: 30px;
}

/* ==================================================== */

.gameboard {
    margin: 0 auto;
    padding: 0 25%;
}
.gameboard__cells {
    display: grid;
    background-color: #888;
    grid-template-columns: repeat(auto-fit, 33.333%);
}
.gameboard__cell {
    position: relative;
    height: 165px;
    border: 1px solid silver;
    transition: background-color .2s ease;
    cursor: pointer;

    font-size: 7rem;
    text-align: center;
    vertical-align: middle;
}
.gameboard__cell:hover {
    background-color: #999;
}