@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

html, body {
    height: 100%; 
}

body {
    background-color: #ddd; 
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template: minmax(70px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 3%;
    margin: 0 auto;
}

.header {
    grid-area: header;
    background-color: #fff;
}
.header__title {
    text-align: center;
    padding: 30px;
    font-size: 3rem;
    font-weight: 700;
}
.main {
    height: 100%;
    padding: 50px 0;
    grid-area: main;
}
.footer {
    grid-area: footer;
    background-color: #fff;
    padding: 30px;
}
.footer__copy {
    text-align: center;
}

/* ==================================================== */

.gameboard {
    margin: 0 auto;
    padding: 0 27%;
    margin: 0 0 50px 0;
}
.gameboard__cells {
    display: grid;
    background-color: #888;
    grid-template-columns: repeat(auto-fit, 33.333%);
}
.gameboard__cell {
    position: relative;
    height: 165px;
    border: 1px solid silver;
    transition: background-color .2s ease;
    cursor: pointer;

    font-size: 7rem;
    text-align: center;
    vertical-align: middle;
    transition: background-color .6s ease;
}
.gameboard__cell:hover {
    background-color: #999;
}

.status {
    margin: 0 0 40px 0;
}
.status__message {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.reset-btn {
    display: block;
    margin: 0 auto;
    padding: 0 30px;
    height: 40px;
    border: none;
    background-color: #000;
    cursor: pointer;
    border-radius: 5px;

    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    transition: background-color .5s ease, color .5s ease;
}

.reset-btn:hover {
    background-color: #fff;
    color: #000;
}